@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-druk-condensed: var(--font-druk-condensed);
  --font-druk-text-wide: var(--font-druk-text-wide);
  --font-druk-text: var(--font-druk-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E6E5D6;
    --foreground: #000;
    --background-secondary: #000;
  }
}

body {
  background: var(--background-secondary);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.hero-section1 {
  width: 50vw;
  height: 60vh;
  box-shadow: inset 0 0 30px 5px;
  border-radius: 20px;
}

canvas {
  width: 100vw;
  height: 60vh;
}

.gallery-container {
  position: relative;
  width: 60%;
  height: 60vh;
  overflow: hidden;
}

.fade-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(to bottom, 
    #E6E5D6 0%,
    rgba(230, 229, 214, 0) 100%);
  z-index: 10;
  pointer-events: none;
}

.fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(to top, 
    #E6E5D6 0%,
    rgba(230, 229, 214, 0) 100%);
  z-index: 10;
  pointer-events: none;
}

.columns-wrapper {
  display: flex;
  gap: 20px;
  padding: 50px;
  height: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* CSS for Marquee Animation*/
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 40s linear infinite;
}

/*Highlight color*/
::selection {
  background: #000000;
  color:#ffffff
}
::-moz-selection {
  background: #000000;
  color:#ffffff
}

select option:checked {
  background: red;
}